.courses_title {
  margin-bottom: 50px;
  text-align: center;
}

.courses_title h2 {
  font-size: 25px;
  line-height: 34px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 700;
}

.courses_title p,
.course_item p {
  margin: 0;
  color: var(--txt-gray);
  font-weight: 400;
}

.course_item {
  padding: 45px 25px;
  text-align: center;
  background: var(--bg-light-blue);
  margin-bottom: 30px;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

.course_item:hover {
  box-shadow: 0px 15px 30px rgba(77, 87, 222, 0.3);
  background: var(--bg-white);
}

.course_item img {
  margin-bottom: 35px;
}

.course_item h4 {
  font-size: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

@media (min-width: 576px) {
  .courses_title h2 {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .courses_title h2 {
    font-size: 36px;
    line-height: 50px;
  }
}

@media (min-width: 1200px) {
  .courses_title {
    margin-bottom: 100px;
  }
}
