.about_area {
  position: relative;
}

.about_area .about_img {
  display: none;
}

.about_title h2 {
  font-size: 25px;
  font-weight: 700;
  line-height: 34px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: var(--bg-dark);
}

.about_area .about_title p {
  margin-bottom: 20px;
  color: var(--txt-gray);
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
}

.about_area .primary_btn {
  margin-top: 20px;
}

@media (min-width: 576px) {
  .about_title h2 {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .about_title h2 {
    font-size: 36px;
  }
}

@media (min-width: 992px) {
  .about_area .about_img {
    display: unset;
    position: relative;
    right: 0;
  }

  .about_area .about_img img {
    max-width: 100%;
    height: auto;
    border-style: none;
  }

  .about_title h2 {
    line-height: 50px;
  }
}

@media (min-width: 1200px) {
  .about_area .custom-btn {
    margin-top: 20px;
  }
}

@media (min-width: 1400px) {
  .about_area .about_img {
    right: 150px;
  }

  .about_area .about_img img {
    max-width: none;
  }
}
