.header_area {
  width: 100%;
  background: var(--bg-white);
}

.main_menu {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.custom-brand {
  display: flex;
  flex-wrap: wrap;
}

ul > .nav-item {
  font-weight: 500;
}

@media (min-width: 992px) {
  .main_menu {
    min-height: 100px;
    display: flex;
  }

  .header_area .main_menu .nav-f1 {
    flex: 1;
  }
}

@media (min-width: 1200px) {
  .main_menu {
    max-width: 1100px;
  }
}
