.footer {
  padding: 80px 0;
  border-top: 1px solid var(--border-light-gray);
}

.footer_logo {
  text-align: center;
}

.footer_logo img {
  width: 140px;
  height: auto;
}

.footer_logo h4 {
  font-size: 20px;
  margin-top: 35px;
  text-transform: uppercase;
}

.footer_social {
  text-align: center;
  margin: 25px 0 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
}

.footer_social a {
  padding: 0 20px;
}

.footer_social svg {
  font-size: 8vw;
}

.footer_social svg path {
  fill: var(--txt-gray);
  transition: all 0.4s ease 0s;
}

.footer_social svg:hover path {
  fill: var(--txt-purple);
}

.footer_bottom {
  text-align: center;
}

.footer_text {
  margin: 0;
  font-weight: 400;
  color: var(--txt-gray);
  line-height: 26px;
}

.footer_bottom a {
  color: var(--txt-purple);
  font-weight: 400;
}

@media (min-width: 576px) {
  .footer_logo img {
    width: 200px;
  }

  .footer_social svg {
    font-size: 6vw;
  }
}

@media (min-width: 576px) {
  .footer_social svg {
    font-size: 4.5vw;
  }
}

@media (min-width: 992px) {
  .footer {
    padding: 60px 0;
  }
}

@media (min-width: 1200px) {
  .footer {
    padding: 120px 0;
  }

  .footer_logo img {
    width: 20vw;
  }
}

@media (min-width: 1400px) {
  .footer_social svg {
    font-size: 3vw;
  }
}