.single-tech-item {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 50%;
  max-width: 150px;
  height: 100px;
  transition: all 0.4s ease 0s;
}

.single-tech-item .d-table-cell {
  vertical-align: middle;
}

.single-tech-item img {
  height: 100%;
  max-width: 100px;
  margin: 0 auto;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

.single-tech-item img:hover {
  filter: drop-shadow(15px 15px 3px var(--shadow-blue));
}

.client-info {
  padding: 50px 10px 25px;
  background-color: var(--bg-light-purple);
  text-align: center;
  position: relative;
}

.client-info::before {
  background: none;
  content: '';
  position: absolute;
  top: -25px;
  left: -50px;
  height: 175px;
  width: 175px;
}

.txt-large {
  color: var(--txt-purple);
  font-size: 80px;
  font-weight: 700;
  line-height: 85px;
  position: relative;
  z-index: 9;
}

.txt-small {
  text-align: left;
  font-size: 1em;
  margin-left: 15px;
  line-height: 1.5;
}

.call-now {
  text-align: left;
  margin-bottom: 40px;
}

.phone-icon {
  font-size: 50px;
  font-weight: 700;
}

.call-now p {
  color: var(--txt-purple);
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: 400;
}

.call-now h3 {
  font-size: 17px;
}

@media (min-width: 576px) {
  .single-tech-item {
    margin: unset;
    margin-bottom: 30px;
    width: 60%;
  }

  .client-info {
    margin-top: 50px;
    padding-top: 25px;
  }

  .client-info::before {
    background: url('../../assets/imgs/client-info-bg.png') no-repeat;
  }

  .client-info {
    padding: 25px 30px;
  }

  .txt-large {
    font-size: 100px;
  }

  .txt-small {
    font-size: 1.5em;
  }

  .call-now {
    padding-top: 50px;
  }

  .phone-icon {
    font-size: 60px;
  }

  .call-now h3 {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .single-tech-item {
    width: 80%;
    max-width: 170px;
  }

  .single-tech-item img {
    max-width: 80px;
    height: auto;
  }

  .client-info {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 992px) {
  .single-tech-item {
    width: 100%;
  }

  .client-info {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 25px;
  }

  .txt-large {
    font-size: 5.5em;
  }
}

@media (min-width: 1200px) {
  .client-info {
    padding-left: 20px;
    padding-right: 20px;
  }
}
